<div class="container">
    <form #frm="ngForm" class="add-item-form" (ngSubmit)="adicionarItem()">
        <input type="text" name="item" id="item" [(ngModel)]="item" placeholder="Digite o item da compra">
        <button type="submit">Adicionar</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th></th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @for (elemento of lista; track elemento.id) {
                <tr>
                    <td>{{elemento.id}}</td>
                    <td><span [ngClass]="{ 'item-riscado' : elemento.comprado }">{{elemento.nome}}</span></td>
                    <td><input type="checkbox" (click)="riscarItem(elemento)" [checked]="elemento.comprado"></td>
                    <td></td>
                </tr>
            }@empty {
                <td colspan="4">Nenhum item adcionado</td>
            }
        </tbody>
    </table>
</div>